@import "tailwindcss";

*{
  font-family: outfit;
}

.font-Ovo{font-family: Ovo, sans-serif;}

.font-Outfit{font-family: Outfit, serif;}

.shadow-black {
  box-shadow: 4px 4px 0 #000;
}

.shadow-white {
  box-shadow: 4px 4px 0 #fff;
}

.grid-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

